<odoo>
  <menuitem id="menu_crai_students_root" name="Estudiantes" parent="crai_base.menu_crai_root" sequence="25"
            groups="crai_base.group_crai_admin,crai_base.group_crai_librarian"/>
  <menuitem id="menu_crai_students_items" name="Maestro de estudiantes" parent="menu_crai_students_root"
            action="action_crai_student" sequence="10"/>
</odoo>
