$primary_accent: var(--primary-accent) !important;
$secondary_accent: var(--secondary-accent) !important;
$inverse_accent: var(--inverse-accent) !important;
$kanban-bg-color:var(--kanban-bg-color) !important;
$o-kanban-color-border-width: var(--o-kanban-color-border-width) !important;
$selected_row: var(--selected-row) !important;
$bg_white: var(--bg-white) !important;
$f_color: var(--f-color) !important;
$color_white : var(--color-white) !important;
$primary_hover: var(--primary-hover) !important;
$light_hover: var(--light-hover) !important;
$fullscreen-bg-color: var(--fullscreen-bg-color) !important;

:root{
    --primary-accent: #009AA6;
    --primary-accent-border: #37424A;
    --app-bar-accent: #009ba6;
    --full-screen-bg: url(/jazzy_backend_theme/static/src/img/background.png) ;
    --kanban-bg-color:#f7f7f7;
    --o-kanban-color-border-width: 8px !important;
    --selected-row: #37424A !important;
    --app-menu-font-color:#37424A;
    --bg-white: #ffffff !important;
    --f-color: #37424A !important;
    --color-white : #ffffff !important;
    --primary-hover: #009AA6;
    --light-hover: #d5d5d5 ;
    --secondary-hover:#37424A;
    --fullscreen-bg-color: #C5F0FC !important;
}
